@media only screen and (max-device-width : 480px) {
    .ProfileHeader{
        display: flex;
        align-items: center;
        color: whitesmoke;
    }

     
    .bigAvatar .Avatar{
        width: 120px;
        height: 120px;
        margin-right: 50px;
    }

    button{ 
        background: transparent;
        color: whitesmoke;
    }
}

@media only screen and (min-width : 1224px) {

    .ProfileHeader{
        width: 600px;
        margin: auto;
        display: flex;
        align-items: center;
        color: whitesmoke;
    }

    button{
        background: transparent;
        width: 90px;
        height: 30px;
        border-radius: 30px;
    }
    
    .bigAvatar .Avatar{
        width: 150px;
        height: 150px;
        margin-right: 50px;
    }
}   