@media only screen and (max-device-width : 480px) {

    .comments{
        font-size: 10px;
    }
}    

@media only screen and (min-width : 1224px) {
  
    details {
        width: 200px;
        color: whitesmoke;
    }     

    summary{
        background-color: black;
        border-radius: 20%;
    }
}