@media only screen and (max-device-width : 480px) {
    
    .form-control{
        height:15px;
        margin-bottom: 0px;
    
    }

    .postComment{
        display: inline-block;
        background: transparent;
        color: whitesmoke;
        border: transparent;
    }
}

@media only screen and (min-width : 1224px) {

    .form-control{
        height:15px;
    
    }

    .postComment{
        background: transparent;
        color: whitesmoke;
        border: transparent;
    }

}
  


