/*mobile*/
@media only screen and (max-device-width : 480px) {

    .icons li{
        display: inline-block;
        color: black; 
        margin-right: 18px;
    }
   
    .Avatar{
        width: 20px;
        height: 20px;
    }

    .searchUser{
       position: absolute;
       margin-top: 15px;
       margin-left: 20px;
       border-radius: 20px;
       background: transparent;
       width: 300px; 
       
    }
    

}

/*desktop*/
@media only screen and (min-width : 1224px) {

    .icons {
        margin-top: 0;
    }

    .Avatar{
        display: flex;
        width: 21px;
        height: 21px;
        margin-left: 20px;
    }

     .searchBox{
        display: flex;
        margin-top:10px;
        border-radius: 30px;
    }

    input{
        border-radius: 30px;
        margin-left: 20px;
        background: transparent;
    }

    .icons li {
        display: inline-block;
        color: black;  
        margin-left: 20px;
        width: 20px;
    }

}
