@media only screen and (max-device-width : 480px) {

    .Login {
        display: block;
        margin:auto;
        width: 200px;
        border: 1px solid #c0c0c0;
        background: transparent;
        text-align: center;
        border: 3px solid #383197;
        color: whitesmoke;
        padding-bottom: 10px;

    }

    .form-control{
        margin-top: 20px;
        width: 120px;
        border-radius: 30px;
    }

    button{
        display: block;
        margin: auto;
        margin-top:20px;
        border-radius: 30px;
        
    }

    .alert{
        font-size: 10px;
        position: absolute;
        margin-top: 220px;
        color: red;
    }

}

@media only screen and (min-width : 1224px) {

    
    
    .Login {
        display: block;
        margin: auto;
        max-width: 15em;
        background-color: #fff;
        border: 3px solid #383197;
        padding: 1em 3em;
        margin-top: 20px;
    }

    .form-control{
        margin-top: 10px;
        margin-left: 5px;
    }

.btn{
    margin-top: 20px;
    border-radius: 30%;
}

.alert{
    color: red;
}

}