.Login {
    padding: 1em 3em;
}

h2 {
    text-align: center;
    color: darkblue;
    font-style: italic;
    margin-top: 0;
}

form {
    margin-top: 20px;
    color: darkblue;
}

.form-control {
    background-color: #E8F0FE;
}

.error {
    color: red;
}
.error::before {
    content: '🛈';
    margin-right: 0.3em;
}

@media only screen and (min-width : 1224px) {
    .Login {
        max-width: 30em;
        margin:auto;
        background-color: #fff;
        border: 1px solid #c0c0c0;
        padding: 1em 3em;
    }
}