@media only screen and (max-device-width : 480px) {


    .icons li{
        display: inline-block;
        color: black;  
        margin-right: 35px;
    }

    .icons{
        padding-left: 40px;
    }

}


@media only screen and (min-width : 1224px) {


    .icons li {
        display: inline-block;
        color: black;  
        margin-right: 20px;
    }

   
}
