@media only screen and (max-device-width : 480px) {
 
}

@media only screen and (min-width : 1224px) {

    input{
        width: 100%;
        border-radius: 30px;
        border-color:white ;
    }

}