@media only screen and (max-device-width : 480px) {

    .register {
        display: block;
        margin:auto;
        width: 300px;
        border: 1px solid #c0c0c0;
        background: transparent;
        text-align: center;
        border: 3px solid #383197;
        color: whitesmoke;
    }
    .form-group{
        font-size: 11px;
    }

    form{
        position: block;
        margin: auto;
        font-size: 12px;
    }

    label{
        font-size: 10px;
    }

    
    .error{ 
        color: red;
    }
}

@media only screen and (min-width : 1224px) {
    
    .register {
        display: block;
        margin:auto;
        margin-top: 50px;
        width: 500px;
        border: 1px solid #c0c0c0;
        background-color: white;
        text-align: center;
        border: 3px solid #383197;

    }

    .error{ 
        color: red;
    }
}