@media only screen and (max-device-width : 480px) {

    .photoHead{
        margin-left: 20px;
        max-width:294px;
        border: transparent;
        background-color: transparent;
    }


    .photosContainer3 .image1{
        margin-left: 20px;
        display: block;
        border: 2px sod #c0c0c0;
        background-color: white;
        width: 380px;
    }

    .datas{
        margin-left: 20px;
        font-family: Georgia;
        max-width: 284px;
        display: flex;
        flex-wrap: wrap;
        border: transparent;
        padding-left: 10px;
        margin-bottom: 20px;
        color: white;
    }

}

@media only screen and (min-width : 1224px) {

    .photoHead{
        max-width:400px;
        border: transparent;
        background:transparent;
        color: whitesmoke;
        margin-left: 20px;
    }

    .post {
        margin: auto;
        margin-top: 30px;
        display: block;
    }

    .post.small {
        width: unset;
    }

    .datas{
        display: block;
        margin-top: 20px;
        font-family: Georgia;
        border: 2.8px solid #c0c0c0;
        padding-left: 30px;
        color: white;
        border: transparent;
        font-size: 15px;
    }

    .image1{
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        margin-left: 20px;
    }
  
    
}
