@media only screen and (max-device-width : 480px) {

    .photosContainer2{
        display: flex;
        flex-wrap: wrap;
    }

    .photosContainer2 .image1{
        width: 100px;
        height: auto;
        border-style: outset;
        margin-left: 10px;
    }
    
}


@media only screen and (min-width : 1224px) {
    
    .photosContainer2{
        display: flex;
        flex-wrap: wrap;
    }

    .photosContainer2 .image1{
        width: 300px;
        height: auto;
        border-style: outset;
        margin-left: 10px;
    }

}