@media only screen and (max-device-width : 480px) {

    .new{
        font-size: 20px;
        margin-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
    }

    .preview-image1{
        width:200px;
    }

    form{
        background: transparent;
        
    }

    .submitBtn{
        background: transparent;
    }

    
    .form-label {
        background: transparent;
    }

    .likes{
        display: none;
    }   

}

@media only screen and (min-width : 1224px) {

    .new{
        margin-left: 30px;
        margin-top: 20px;
        font-style: italic;
        font-size: 20px;
        margin-top: 50px;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
    }

    .create {
        max-width: 10.2em;
        margin-top:80px;
        background-color: #fff;
        font-style: italic;
        font-size:15px;
        padding-right: 20px;
        text-transform: capitalize;
        background: transparent;
    }

    .form-label {
        display: flex;
        padding-top: 10px;
    }

    .submitBtn{
        width:90px;
        height: 40px;
        border: 1px solid #c0c0c0;
        font-style: italic;
        border-radius:30%;
        color: whitesmoke;
        background-color: black;
        background: transparent;
    }

    .preview-image1{
        width:500px;
        border: 1px solid #c0c0c0;
        font-size: 20px;
    }

    .PostCreate{
        font-size: 18px;
        color: red;
    }

    .form-control{
        background: transparent;
    }

    .likes{
        display: block;
        margin: auto;
        float: right;
        margin-right: 20px;
    }   
  
  
}