@media only screen and (max-device-width : 480px) {

    .new{
        display: block;
        margin:auto;
        width: 300px;
        border: 1px solid #c0c0c0;
        background: transparent;
        text-align: center;
        border: transparent;
        color: whitesmoke;
        padding-bottom: 10px;
        margin-top: 20px;
        font-size: 30px;
        padding-top: 2px;
    }

    .preview-image1{
        width:200px;
    }


    .submitBtn{
        background: transparent;
        
    }

    
    .form-label {
        background: transparent;
    }

}

@media only screen and (min-width : 1224px) {

    .new{
        display: block;
        margin:auto;
        line-height: 50px;
        width: 300px;
        border: 1px solid #c0c0c0;
        background: transparent;
        text-align: center;
        border: transparent;
        color: whitesmoke;
        padding-bottom: 10px;
        margin-top: 20px;
        font-size: 30px;
    }

    .create {
        max-width: 10.2em;
        background-color: #fff;
        font-size:20px;
        padding-right: 20px;
        text-transform: capitalize;
        background: transparent;
    }

    .form-label {
        display: flex;
        padding-top: 10px;
    }

    .submitBtn{
        border: 1px solid #c0c0c0;
        color: whitesmoke;
        background: transparent;
        border: transparent;
        font-size: 40px;
    }

    .preview-image1{
        width:600px;
        height: 600px;
    }

    .PostCreate{
        font-size: 15px;
        color: red;
    }

    .form-control{
        background: transparent;
        border-radius: 30px;
    }
  
}