@media only screen and (max-device-width : 480px) {

    .new{
        font-size: 20px;
        margin-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
    }

    .preview-image1{
        width:200px;
    }

    form{
        background: transparent;
        
    }

    .submitBtn{
        background: transparent;
    }

    
    .form-label {
        background: transparent;
    }

    .likes{
        display: none;
    }   

}

@media only screen and (min-width : 1224px) {

    .new{
        margin-left: 20px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
    }

    .create {
        max-width: 10.2em;
        background-color: #fff;
        font-size:20px;
        padding-right: 20px;
        text-transform: capitalize;
        background: transparent;
    }

    .form-label {
        display: flex;
        padding-top: 10px;
    }

    .submitBtn{
        border: 1px solid #c0c0c0;
        color: whitesmoke;
        background: transparent;
        border: transparent;
        font-size: 40px;
    }

    .preview-image1{
        width:520px;
    }

    .PostCreate{
        font-size: 15px;
        color: red;
    }

    .form-control{
        background: transparent;
    }

    .likes{
        display: block;
        margin: auto;
        float: right;
        margin-right: 20px;
    }   
  
  
}