@media only screen and (max-device-width : 480px) {
    body {
        background: linear-gradient(
            90deg,
            rgb(103, 64, 232),
            rgb(219, 13, 58) 100%
        );
      }
      
}

@media only screen and (min-width : 1224px) {

    body {
        background: linear-gradient(
            90deg,
            rgb(103, 64, 232),
            rgb(219, 13, 58) 100%
        );
      }
      

    body {
        margin: 0;
    }
    
    a {
        color: inherit;
    }

}