@media only screen and (max-device-width : 480px) {

   
    .editContainer {
        display: block;
        margin:auto;
        width: 300px;
        border: 1px solid #c0c0c0;
        background: transparent;
        text-align: center;
        border: 3px solid #383197;
        color: whitesmoke;
        padding-bottom: 10px;
    }

    .edit{
        font-size: 12px;
    }
    .form-group{
        text-align: center;
        display: block;
        margin: auto;
    }


    .submitBtn{
        background: transparent;
        color: whitesmoke;
        border: transparent;
    }

    .change{
        color: rgb(83, 157, 232);
        font-size: 12px;
        }

        .preview-image {
            height: 35px;
            width: 35px;
        }

}


@media only screen and (min-width : 1224px) {
   

    .editContainer {
        display: block;
        margin:auto;
        width: 300px;
        border: 1px solid #c0c0c0;
        background: transparent;
        text-align: center;
        border: transparent;
        color: whitesmoke;
        padding-bottom: 20px;
    }

    .form-group{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 300px;
        display: block;
        margin: auto;
    }


    .submitBtn{
        background: transparent;
        border-radius: 20px;
    }

    .change{
        color: rgb(83, 157, 232);
        font-size: 15px;
        }

    .form-control{
        background-color: whitesmoke;
    }

    .preview-image5{
        width: 400px;
    }
}

